{% extends 'base.html' %}



{% block head %}
<title>Gestor de Áudio</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}

<header>
    <div class="header-content">
      <div class="header-left">
        <i class="fa-solid fa-backward-step" onclick="window.location.href='http://localhost:5001/'"></i>
      </div>
      <div class="header-center">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Site Logo" class="site-logo">
        <h1>Audio Manager</h1>
      </div>
    </div>
  </header>
  


<div class="container">
    <div class="content">
        <div class="local-box">

            <!-- LOCAL box -->
            <h3>Local</h3>
            <div class="grid-container">
                <!-- Playlists Section -->
                <div class="playlists-section">
                    <h2>Playlists</h2>
                    <ul class="playlists-list" id="playlists-list">
                        {% for playlist in playlists %}
                        <li class="playlist-item">
                            <span>{{ playlist.name }}</span>
                            <div class="playlist-actions">
                                <i class="fa-solid fa-pen" onclick="editPlaylist('{{ playlist.name }}')"></i>
                                <i class="fa-solid fa-trash" onclick="deletePlaylist('{{ playlist.name }}')"></i>
                            </div>
                        </li>
                        {% endfor %}
                        <li class="playlist-item add-playlist" onclick="addPlaylist()">
                            <span>Adicionar +</span>
                        </li>
                    </ul>
                </div>

                <!-- Songs Section -->
                <div class="songs-section">
                    <h2>Músicas</h2>
                    <ul class="songs-list" id="songs-list">
                        {% for song in songs %}
                        <li class="song-item">
                            <span>{{ song.name }}</span>
                            <div class="song-actions">
                                <i class="fa-solid fa-pen" onclick="editSong('{{ song.id }}', '{{ song.name }}')"></i>
                                <i class="fa-solid fa-trash" onclick="deleteSong('{{ song.id }}')"></i>
                            </div>
                        </li>
                        {% endfor %}
                        <li class="song-item add-song" onclick="showAddSongModal()">
                            <span>Adicionar +</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="content">
        <div class="stream-box">
            <h3>Transmissão</h3>
            <div class="grid-container">
                <div class="streaming-section">
                    <h2>Links de transmissão</h2>
                    <ul id="streaming-list" class="streaming-list">
                        <!-- Links adicionados irão aparecer aqui -->
                    </ul>
                    <li class="streaming-item add-streaming" onclick="addStreamingLink()">
                        <span>Adicionar +</span>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal para adicionar playlist 
<div id="playlistModal" class="modal">
    <div class="modal-content">
        <h2>Nome da nova playlist:</h2>
        <input type="text" id="playlist-name" placeholder="Digite o nome..." oninput="toggleConfirmButton()"/>
        <div class="modal-buttons">
            <button class="cancel" onclick="hidePlaylistModal()">Cancelar</button>
            <button id="confirm-btn" class="confirm" onclick="confirmPlaylist()" disabled>OK</button>
        </div>
    </div>
</div>

-->


<!-- Add Song Modal 
<div id="addSongModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeAddSongModal()">&times;</span>
        <h2>Adicionar Nova Música</h2>
        <form id="addSongForm">
            <div class="form-group">
                <label for="songName">Nome da Música:</label>
                <input type="text" id="songName" name="songName" required>
            </div>
            <div class="form-group">
                <label for="songFile">Ficheiro da Música:</label>
                <input type="file" id="songFile" name="songFile" accept="audio/*" required>
            </div>
            <div class="form-group">
                <button type="submit">Adicionar</button>
            </div>
        </form>
    </div>
</div>

-->

<!-- Modal Personalizado -->
<div id="customModal" class="custom-modal">
    <div class="custom-modal-content">
        <span class="close" onclick="closeCustomModal()">&times;</span>
        <h2 id="modal-title">Título do Pop-up</h2>
        <p id="modal-message">Mensagem do Pop-up</p>
        <input type="text" id="modal-input" placeholder="Digite aqui..." style="display: none;">
        <div class="modal-buttons">
            <button class="cancel" onclick="closeCustomModal()">Cancelar</button>
            <button id="modal-confirm" class="confirm" onclick="confirmCustomModal()">OK</button>
        </div>
    </div>
</div>


<div id="errorModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeErrorModal()">&times;</span>
        <h2>Erro</h2>
        <p>Não existem músicas disponíveis. Por favor, adicione músicas.</p>
    </div>
</div>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}