<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>Home</h1>
    <ul>
      <li><a href="{{ url_for('add_node') }}">Add Node</a></li>
      <li><a href="{{ url_for('remove_node') }}">Remove Node</a></li>
      <li><a href="{{ url_for('get_nodes') }}">View Nodes</a></li>
      <li><a href="{{ url_for('add_area') }}">Add Area</a></li>
      <li><a href="{{ url_for('remove_area') }}">Remove Area</a></li>
      <li><a href="{{ url_for('get_areas') }}">View Areas</a></li>
    </ul>
  </body>
</html>