<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Remove Node</title>
  </head>
  <body>
    <h1>Remove Node</h1>
    <form method="POST" action="{{ url_for('remove_node') }}">
      {{ form.hidden_tag() }}
      <p>
        {{ form.ip.label }}<br>
        {{ form.ip(size=32) }}<br>
        {% for error in form.ip.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>{{ form.submit() }}</p>
    </form>
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('add_node') }}">Add Node</a>
    <a href="{{ url_for('get_nodes') }}">View Nodes</a>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </body>
</html>