{% extends 'base.html' %}

{% block head %}
<title>Nodes</title>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block body %}
<header>
    <div class="header-content" style="flex-direction: column; align-items: center;">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Site Logo" class="site-logo">
        <h1>Audio Manager</h1>
    </div>
</header>

<div class="container">
    <div class="content">
        <br>
        <br>
        <div class="dual-section">
            <div class="section-left">
                <h3>Devices</h3>
                <div class="column-box" id="columnBox" style="display: block;">
                    {% if nodes|length < 1 %}
                    <h1>No node found</h1>
                    {% else %}
                    <div class="column-list">
                        {% for node in nodes %}
                        <div class="column-item" onclick="toggleColumnDetails(this)">
                            <span>{{ node.name }}</span>
                            <div class="column-actions" onclick="event.stopPropagation()">
                                <i class="fa-solid fa-chevron-down" onclick="toggleColumnDetails(this)"></i>
                                <i class="fa-solid fa-pen" onclick="editColumnName(this)"></i>
                                <a href="/delete/{{ node.id }}"><i class="fa-solid fa-trash" style="color: black;"></i></a>
                            </div>
                            <div class="column-details" style="display: none;">
                                <p>IP: {{ node.ip }}</p>
                                <p>MAC: {{ node.mac }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="section-right">
                <h3>Channels</h3>
                <div class="channels-content">
                    {% if channels|length < 1 %}
                    <h1>No Channels</h1>
                    {% else %}
                    <div class="channels-container">
                        {% for channel in channels %}
                        <div class="channel-group">
                            <label for="channel{{ channel.id }}">Canal {{ channel.id }}:</label>
                            <div class="channel-options">
                                <form id="form_{{ channel.id }}" action="/update_channel/{{ channel.id }}" method="POST">
                                    <label>
                                        <input type="radio" name="channel_type" value="LOCAL"
                                            {% if channel.type.value == 'LOCAL' %} checked {% endif %}
                                            style="accent-color: #22cc3f;"> Local
                                    </label>
                                    <label>
                                        <input type="radio" name="channel_type" value="STREAMING"
                                            {% if channel.type.value == 'STREAMING' %} checked {% endif %}
                                            style="accent-color: #22cc3f;"> Streaming
                                    </label>
                                    <label>
                                        <input type="radio" name="channel_type" value="VOICE"
                                            {% if channel.type.value == 'VOICE' %} checked {% endif %}
                                            style="accent-color: #22cc3f;"> Microphone
                                    </label>
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="content">
        <br>
        <br>
        <div class="zone-container">
            {% if areas|length < 1 %}
            <h1>Please add zones</h1>
            {% else %}
            {% for area in areas %}
            <div class="zone-box">
                <div class="zone-header">
                    <h3>{{ area.name }}</h3>
                    <button style="background-color: #f5f2f2; border: none; border-radius: 4px; padding: 12px 23px; font-size: 16px; cursor: pointer; color: black;"
                        onclick="removeArea('{{ area.name }}')">
                        <i class="fa-solid fa-trash delete-zone" style="size: 4px;"></i>
                    </button>
                    <form id="remove-area-form-{{ area.name }}" action="/remove_area" method="POST" style="display: none;">
                        <input type="hidden" name="name" value="{{ area.name }}">
                    </form>
                </div>
                <div class="zone-content">
                    <!-- Row Container to group Speakers and Channels side by side -->
                    <div class="row-container">
                        <!-- Speaker Section -->
                        <div class="column-section">
                            <h4>Speakers</h4>
                            <div class="column-list">
                                <div class="column-list">
                                    {% for node in nodes if node.area_id == area.id %}
                                    <div class="column-item" data-column="{{ node.name }}" data-zone="{{ area.name }}">
                                        <span>{{ node.name }}</span>
                                        <button class="delete-column-button" onclick="removeZoneColumn(this.closest('.column-item'))">
                                            <i class="fa-solid fa-trash" style="color: black;"></i>
                                        </button>
                                    </div>
                                    {% endfor %}
                                    <div class="add-column-button" onclick="showSelectForZone(this)">
                                        <span>+ Speaker</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Channel Section -->
                        <div class="channel-section">
                            <h4>Channel</h4>
                            <div class="channel-options">
                                <form action="/update_area_channel" method="POST" id="channelForm">
                                    <input type="hidden" name="name" value="{{ area.name }}">
                                    <label>
                                        <input type="radio" name="channel_id" value="1"
                                            {% if area.channel_id == 1 %} checked {% endif %} style="accent-color: #22cc3f;"> Canal 1
                                    </label>
                                    <label>
                                        <input type="radio" name="channel_id" value="2"
                                            {% if area.channel_id == 2 %} checked {% endif %} style="accent-color: #22cc3f;"> Canal 2
                                    </label>
                                    <label>
                                        <input type="radio" name="channel_id" value="3"
                                            {% if area.channel_id == 3 %} checked {% endif %} style="accent-color: #22cc3f;"> Canal 3
                                    </label>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Volume Section - Full Width at Bottom -->
                    <div class="volume-section">
                        <h4>Volume</h4>
                        <form action="/update_volume" method="POST" class="volume-form">
                            <input type="hidden" name="name" value="{{ area.name }}">
                            <input type="range" name="volume" min="0" max="100" value="{{ area.volume }}" class="volume-slider">
                            <p class="volume-label">Volume: {{ area.volume }}%</p>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            <div class="zone-box add-zone" id="addAreaButton" onclick="addArea()">
                <span>+</span>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<footer>
    <p style="text-align: center;">© 2025 Audio Manager</p>
</footer>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}