/* General Styles */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 100;
    background: linear-gradient(to bottom, #fffcfc, #ffffff);
}

.detalhes {
    display: none;
    padding: 5px;
    font-size: 14px;
    color: #555;
    border-top: 1px solid #ddd;
    margin-top: 5px;
}

.icone {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.icone.expandido {
    transform: rotate(180deg);
}

/* Header */
header {
    background: #fffcfc;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 2px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 110%;
}

.title {
    flex-grow: 1;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}

p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.logout-icon {
    font-size: 28px;
    cursor: pointer;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    background: none;
    box-shadow: none;
    border: none;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}

.content {
    max-width: 540px;
    width: 100%;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
}

.toggle-item {
    display: flex;
    align-items: center;
    padding: 10px;
}

/* Column Box */
.column-box {
    display: block; /* Was display: none; now always visible */
    background: white;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 10px;
}

.column-list {
    display: flex;
    flex-direction: column;
    max-height: 250px; /* Adjust as needed */
    overflow-y: auto;
}

.column-item {
    display: flex;
    flex-direction: row; /* Change to row to place trash icon on right side */
    justify-content: space-between; /* Push content to ends */
    align-items: center; /* Center vertically */
    padding: 8px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.3s;
    background-color: white !important;
}

.column-item span {
    flex-grow: 1; /* Take available space */
}

.column-item:hover {
    background: #f0f0f0;
}

.add-column {
    padding: 8px;
    text-align: center;
    color: #22cc3f;
    font-weight: bold;
    cursor: pointer;
}

/* Zone Container */
.zone-container {
    background: white;
    padding: 55px 55px 35px 35px; /* Reduced left padding to shift content left */
    border-radius: 6px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    width: 200%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    flex-direction: column;
    align-items: center;

}

/* Zone Box */
.zone-box {
    background: white;
    border-radius: 12px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
    width: 100%; /* Adjusts to the size of the container */
    min-height: 300px; /* Reduced minimum height */
    transition: transform 0.2s ease-in-out;
    margin-left: 0; /* Ensure no additional left margin */
}

.zone-box:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
}

/* Zone Header */
.zone-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}

.zone-header i {
    cursor: pointer;
    color: black; /* Mudando a cor do ícone para preto */
}

.zone-header h3 {
    text-align: center;
    width: 100%;
}

/* Column Section */
.column-section {
    width: 50%;
}

.column-list {
    background: white;
    border-radius: 6px; /* Smaller border radius */
    padding: 8px; /* Reduced padding */
    max-height: 150px; /* Reduced max height */
}

/* Column Item */
.column-item {
    display: flex;
    flex-direction: row; /* Change to row to place trash icon on right side */
    justify-content: space-between; /* Push content to ends */
    align-items: center; /* Center vertically */
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.3s;
}

.column-item span {
    flex-grow: 1; /* Take available space */
}

.column-item:hover {
    background: #f0f0f0;
}

.column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column-actions {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.column-actions i {
    cursor: pointer;
    color: #888;
    transition: color 0.3s;
}

.column-actions i:hover {
    color: #000;
}

.column-details {
    margin-top: 10px;
    padding: 10px;
    background: #f9f9f971;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.add-column {
    padding: 10px;
    text-align: center;
    color: #22cc3f;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

/* Channel Section */
.channel-section {
    width: 50%;
    background: white;
    border-radius: 8px; /* Smaller border radius */
    padding: 22px; /* Reduced padding */
    
    flex: 1; /* Make channels section take less space */
    align-self: center;
}

.channel-options label {
    display: block;
    font-size: 13px; /* Smaller font size */
    margin-bottom: 4px; /* Reduced margin */
}

/* Volume Section */
.volume-section {
    background: white;
    border-radius: 6px; /* Smaller border radius */
    padding: 8px; /* Reduced padding */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05); /* Lighter shadow */
    display: flex;
    flex-direction: row; /* Change to row for a more compact layout */
    align-items: center; /* Center items vertically */
    gap: 10px; /* Gap between elements */
    width: 100%; /* Full width as requested */
   
}

.volume-section h4 {
    margin: 0;
    font-size: 14px;
    min-width: 60px; /* Fixed width for the label */
}

.volume-form {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 10px;
}

.volume-section input[type="range"] {
    flex: 1; /* Take up available space */
    margin: 0;
}

.volume-section p {
    margin: 0;
    font-size: 13px;
    color: #555;
    min-width: 80px; /* Fixed width for the volume label */
    text-align: right;
}

/* Input Styles */
input[type="range"] {
    width: 100%;
    margin-top: 5px;
    background-color: #22cc3f; /* Barras de volume agora verdes */
    accent-color: #22cc3f; /* Barra de seleção do volume também verde */
}

input[type="checkbox"]:checked {
    background-color: #22cc3f; /* Checkboxes verdes */
}

input[type="checkbox"] {
    accent-color: #22cc3f; /* Cor do checkbox */
}

/* Add Zone Button */
#addZoneBtn {
    margin: 10px;
    padding: 8px 16px;
    border: none;
    background-color: #22cc3f;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.add-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    
}

/* Dual Section */
.dual-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.section-left {
    flex: none;
    width: 100%;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.section-right {
    flex: none;
    width: 100%;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Centered Container */
.centered-container {
    justify-content: center;
}

/* Channels Container */
.channels-container {
    background: white;
    border-radius: 12px;
    
    padding: 15px;
    margin-top: 25px;
    display: flex;
    gap: 20px;
}

.channel-group {
    margin-bottom: 20px;
}

.channel-group label {
    font-weight: bold;
    margin-right: 10px;
}

.channel-group select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
}

.channel-options {
    margin-top: 10px;
}

.channel-options label {
    display: block;
    margin-bottom: 5px;
}

.channels-content {
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Select Column */
.select-column option[disabled] {
    font-style: italic;
    color: #999;
    background-color: #f0f0f0;
    font-size: 20px; /* Aumenta o tamanho da letra para "Selecione uma coluna" */
}

.select-column {
    appearance: none;
    -webkit-appearance: none;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 100%;
}

.select-column:focus {
    border-color: #22cc3f;
    box-shadow: 0 0 5px rgba(34, 204, 63, 0.5);
    outline: none;
}

.select-column option {
    padding: 8px;
}

/* Footer */
footer {
    background: white;
    padding: 20px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 2px;
}

/* Custom Dropdown */
.dropdown-button {
    background: #fff;
    border: 1px solid #ddd;
    padding: 6px 10px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.dropdown-button i {
    margin-left: 5px;
}

.dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    background-color: #fff;
    position: absolute;
    z-index: 1000;
    width: 7%;
}

.dropdown-menu li {
    padding: 6px 10px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #f0f0f0;
}

/* Add/Delete Column Button */
.add-column-button {
    padding: 8px;
    text-align: center;
    color: #22cc3f;
    font-weight: bold;
    cursor: pointer;
}

.delete-column-button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    padding: 0 5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

/* Site Logo */
.site-logo {
    height: 120px;
    margin: 0;
    display: inline-block;
    margin-right: 20px;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .zone-content {
        flex-direction: column;
    }
}

/* Zone Content */
.zone-content {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Reduced gap */
    padding: 10px; /* Reduced padding */
    background: white;
    border-radius: 8px; /* Smaller border radius */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05); /* Lighter shadow */
}

/* Row Container for Speakers and Channels */
.row-container {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Reduced gap */
    width: 100%;
}

.column-section, .channel-section {
    background: white;
    border-radius: 8px; /* Smaller border radius */
    padding: 12px; /* Reduced padding */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05); /* Lighter shadow */
    flex: 1; /* Make them take equal space */
    gap: 20px; /* Gap between sections */
}

.column-section {
    flex: 2; /* Make speakers section take more space */
}

.channel-section {
    flex: 1; /* Make channels section take less space */
}

/* Volume Section */
.volume-section {
    background: white;
    border-radius: 6px; /* Smaller border radius */
    padding: 8px; /* Reduced padding */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05); /* Lighter shadow */
    display: flex;
    flex-direction: row; /* Change to row for a more compact layout */
    align-items: center; /* Center items vertically */
    gap: 10px; /* Gap between elements */
    width: 95%; /* Full width as requested */
  
}

.volume-section h4 {
    margin: 0;
    font-size: 14px;
    min-width: 60px; /* Fixed width for the label */
}

.volume-form {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 10px;
}

.volume-section input[type="range"] {
    flex: 1; /* Take up available space */
    margin: 0;
}

.volume-section p {
    margin: 0;
    font-size: 13px;
    color: #555;
    min-width: 80px; /* Fixed width for the volume label */
    text-align: right;
}
