{% extends 'base.html' %}

{% block head %}
<title>Audio Manager</title>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block body %}
<header>
    <div class="header-content" style="flex-direction: column; align-items: center;">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Site Logo" class="site-logo">
        <h1>Audio Manager</h1>
    </div>
</header>

<div class="container">
    <div class="content">
        <br>
        <br>
        <div class="dual-section">
            <div class="section-left">
                <h3>Devices</h3>
                <div class="column-box" id="columnBox" style="display: block;">
                    {% if nodes|length < 1 %}
                    <h1>No node found</h1>
                    {% else %}
                    <div class="column-list">
                        {% for node in nodes %}
                        <div class="column-item" onclick="toggleColumnDetails(this)">
                            <span>{{ node.name }}</span>
                            <div class="column-actions" onclick="event.stopPropagation()">
                                <i class="fa-solid fa-chevron-down" onclick="toggleColumnDetails(this)"></i>

                                <i class="fa-solid fa-pen"  onclick="event.stopPropagation(); renameNode('{{ node.id }}')"></i>


                                <a href="/delete/{{ node.id }}"><i class="fa-solid fa-trash" style="color: black;"></i></a>
                            </div>
                            <div class="column-details" style="display: none;">
                                <p>IP: {{ node.ip }}</p>
                                <p>MAC: {{ node.mac }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="section-right">
                <div class="section-header">
                    <h3>Channels</h3>

                    <a href="{{ url_for('secundaria') }}" class="settings-link">
                        <i class="fa-solid fa-gear settings-icon"></i>
                    </a>
                    
                </div>
                <div class="column-box" id="channelsBox" style="display: block;">
                    {% if channels|length < 1 %}
                    <h1>No channels found</h1>
                    {% else %}
                    <div class="channels-layout">


                        <div class="bottom-controls">
                            <!-- Left: Audio Transmission -->
                            <div class="channel-selection-panel">
                                <h4>Audio Transmission</h4>
                                <div class="channel-cards">
                                    {% for channel in channels %}
                                    <div class="channel-card" data-channel-id="{{ channel.id }}">
                                        <div class="card-content">
                                            <span class="channel-name">Channel {{ channel.id }}</span>
                                            <div class="channel-status">
                                                <span class="status-indicator"></span>
                                                <span class="status-text">Inactive</span>
                                            </div>
                                        </div>
                                        <div class="toggle-transmission-btn">
                                            <a href="{{ url_for('edit_channels', channel_id=channel.id) }}" class="edit-link">
                                                <i class="fa-solid fa-pen settings-icon"></i>
                                            </a>
                                            
                                        </div>
                                        
                                        
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            
                            
                                </div>
                            </div>
                        </div>
                        <!--<div class="column-list">
                            {% for channel in channels %}
                            <div class="column-item channel-item" data-channel-id="{{ channel.id }}" onclick="toggleChannelOptions(this)">
                                <span>Channel {{ channel.id }}</span>
                                <div class="column-actions" onclick="event.stopPropagation()">
                                    <i class="fa-solid fa-pen tooltip-icon" onclick="editChannelName(this, {{ channel.id }})">
                                        <span class="tooltip-text">Edit Channel Name</span>
                                    </i>
                                    <i class="fa-solid fa-gear tooltip-icon" onclick="configureProgramming({{ channel.id }})"></i>
                                </div>
                                
                                <div class="channel-options" style="display: none;">
                                    <button onclick="interruptWithMicrophone({{ channel.id }})" class="interrupt-button">Interrupt with Microphone</button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>-->
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="content">
        <br>
        <br>
        <div class="zone-container">
            {% if areas|length < 1 %}
            <h1>Please add zones</h1>
            {% else %}
            {% for area in areas %}
            <div class="zone-box">
                <div class="zone-header">
                    <h3>{{ area.name }}</h3>
                    <button style="background-color: #f5f2f2; border: none; border-radius: 4px; padding: 12px 23px; font-size: 16px; cursor: pointer; color: black;"
                        onclick="removeArea('{{ area.name }}')">
                        <i class="fa-solid fa-trash delete-zone" style="size: 4px;"></i>
                    </button>
                    <form id="remove-area-form-{{ area.name }}" action="/remove_area" method="POST" style="display: none;">
                        <input type="hidden" name="name" value="{{ area.name }}">
                    </form>
                </div>
                <div class="zone-content">
                    <!-- Row Container to group Speakers and Channels side by side -->
                    <div class="row-container">
                        <!-- Speaker Section -->
                        <div class="column-section">
                            <h4>Speakers</h4>
                            <div class="column-list">
                                <div class="column-list">
                                    {% for node in nodes if node.area_id == area.id %}
                                    <div class="column-item" data-column="{{ node.name }}" data-zone="{{ area.name }}">
                                        <span>{{ node.name }}</span>
                                        <button class="delete-column-button" onclick="removeZoneColumn(this.closest('.column-item'))">
                                            <i class="fa-solid fa-trash" style="color: black;"></i>
                                        </button>
                                    </div>
                                    {% endfor %}
                                    <div class="add-column-button" onclick="showSelectForZone(this)">
                                        <span>+ Speaker</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Channel Section -->
                        <div class="channel-section">
                            <h4>Channel</h4>
                            <div class="channel-options">
                                <form action="/update_area_channel" method="POST" id="channelForm">
                                    <input type="hidden" name="name" value="{{ area.name }}">
                                    <label>
                                        <input type="radio" name="channel_id" value="1"
                                            {% if area.channel_id == 1 %} checked {% endif %} style="accent-color: #22cc3f;"> Canal 1
                                    </label>
                                    <label>
                                        <input type="radio" name="channel_id" value="2"
                                            {% if area.channel_id == 2 %} checked {% endif %} style="accent-color: #22cc3f;"> Canal 2
                                    </label>
                                    <label>
                                        <input type="radio" name="channel_id" value="3"
                                            {% if area.channel_id == 3 %} checked {% endif %} style="accent-color: #22cc3f;"> Canal 3
                                    </label>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Volume Section - Full Width at Bottom -->
                    <div class="volume-section">
                        <h4>Volume</h4>
                        <form action="/update_volume" method="POST" class="volume-form">
                            <input type="hidden" name="name" value="{{ area.name }}">
                            <input type="range" name="volume" min="0" max="100" value="{{ area.volume }}" class="volume-slider">
                            <p class="volume-label">Volume: {{ area.volume }}%</p>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            <div class="zone-box add-zone" id="addAreaButton" onclick="addArea()">
                <span>+</span>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<footer>
    <p style="text-align: center;">© 2025 Audio Manager</p>
</footer>
{% endblock %}



{% block scripts %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

