{% extends 'base.html' %}

{% block head %}
<title>Audio Manager</title>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block body %}
<header>
    <div class="header-content" style="flex-direction: column; align-items: center;">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Site Logo" class="site-logo">
        <h3>Audio Manager</h3>
        <div class="d-flex gap-2">
            <!-- Import Config -->
            <button type="button" class="btn btn-outline-secondary rounded-pill shadow-sm px-2 py-1 text-small" onclick="triggerImport()">
                <i class="bi bi-upload me-1"></i>Import Config
            </button>
            <input type="file" id="importConfigInput" style="display: none;" accept=".json" onchange="handleImport(event)">
            
            <!-- Export Config -->
            <button type="button" class="btn btn-outline-secondary rounded-pill shadow-sm px-2 py-1 small" onclick="triggerExport()">
                <i class="bi bi-download me-1"></i>Export Config
            </button>

        </div>

    </div>
</header>

<script>
    // Trigger the file input for importing
    function triggerImport() {
        document.getElementById("importConfigInput").click();
    }

    // Handle the file import
    function handleImport(event) {
        const file = event.target.files[0];
        if (file) {
            const formData = new FormData();
            formData.append('file', file);  // Appending the file to FormData

            // Sending the form data to the server using AJAX
            fetch('/import_conf', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.reload();  // Reload the page after successful upload
                } else {
                    console.log("Error:", data.error);
                }
            })
            .catch(error => {
                console.error("Error during file upload:", error);
            });
        } else {
            console.log("No file selected.");
        }
    }

    // Trigger the export of config
    function triggerExport() {
        // Make a GET request to Flask to get the configuration as a file
        fetch('/export_conf')
            .then(response => response.blob())  // Get the response as a Blob
            .then(blob => {
                // Create a link to download the Blob content
                const link = document.createElement('a');
                link.href = URL.createObjectURL(blob);
                link.download = 'config.json';  // Specify the default file name
                link.click();  // Trigger the download
            })
            .catch(error => {
                console.error("Error exporting config:", error);
            });
    }

    // Toggle transmission state and call the Python endpoint
    function toggleTransmission(button, channelId) {

        // Send the channel ID and desired state to the Python endpoint
        fetch(`/toggle_transmission`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ channel_id: channelId }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                console.log("sucess");
                window.location.reload(); // Reload the page if successful
            } else {
                console.error("Error toggling transmission:", data.error);
            }
        })
        .catch(error => {
            console.error("Error during transmission toggle:", error);
        });
    }


</script>

<div class="container"> 
    
    <div class="content">
        <br>
        <br>
        <div class="dual-section">
            <div class="section-left">
                <h3>Devices</h3>
                <div class="column-box" id="columnBox" style="display: block;">
                    {% if nodes|length < 1 %}
                    <h5>No node found</h5>
                    {% else %}
                    <div class="column-list">
                        {% for node in nodes %}

                        <div class="column-itemCH">
                            <div class="column-headerCH">
                                <span>{{ node.name }}</span>
                                <div class="column-actions" onclick="event.stopPropagation()">
                                    <i class="fa-solid fa-chevron-down" onclick="toggleDeviceDetails(this);" style="margin-top:4px;"></i> 
                                    <i class="fa-solid fa-pen" onclick="event.stopPropagation(); renameNode('{{ node.id }}');" style="margin-top:4px;"></i>
                                    <a href="/delete/{{ node.id }}"><i class="fa-solid fa-trash" style="color: black;"></i></a>
                                </div>
                            </div>
                            <div class="column-detailsCH" style="display: none;">
                                <p>IP: {{ node.ip }}</p>
                                <p>MAC: {{ node.mac }}</p>
                            </div>
                        </div>
                        

                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="section-right">
                <div class="section-header">
                    <h3>Channels</h3>

                    <a href="{{ url_for('secundaria') }}" class="settings-link">
                        <i class="fa-solid fa-gear settings-icon"></i>
                    </a>
                    
                </div>
                <div class="column-box" id="channelsBox" style="display: block;">
                    {% if channels|length < 1 %}
                    <h4>No channels found</h4>
                    {% else %}
                    <div class="channels-layout">


                        <div class="bottom-controls">
                            <!-- Left: Audio Transmission -->
                            <div class="channel-selection-panel">
                              
                                <div class="channel-cards">
                                    {% for channel in channels %}
                                    <div class="channel-card" data-channel-id="{{ channel.id }}">
                                        <div class="card-content">
                                            <span class="channel-name">{{ channel.name }}</span>
                                            <div class="channel-status">
                                                {% if channel.state == "stopped" %}
                                                    <span class="status-indicator" style="background: #ccc;"></span>
                                                    <span class="status-text">Inactive</span>
                                                {% elif channel.state == "playing" %}
                                                    <span class="status-indicator" style="background: #22cc3f;"></span>
                                                    <span class="status-text">Active</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div style="display: flex; gap: 6px; align-items: center;">
                                            <div class="toggle-transmission-btn">
                                                <i class="fa-solid {% if channel.state == 'stopped' %}fa-play{% else %}fa-stop{% endif %} settings-icon"
                                                   onclick="toggleTransmission(this, {{ channel.id }})"></i>
                                            </div>
                                            <div class="toggle-transmission-btn">
                                                <a href="{{ url_for('edit_channels', channel_id=channel.id) }}" class="edit-link">
                                                    <i class="fa-solid fa-pen settings-icon"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            
                            
                                </div>
                            </div>
                        </div>
                        <!--<div class="column-list">
                            {% for channel in channels %}
                            <div class="column-item channel-item" data-channel-id="{{ channel.id }}" onclick="toggleChannelOptions(this)">
                                <span>Channel {{ channel.id }}</span>
                                <div class="column-actions" onclick="event.stopPropagation()">
                                    <i class="fa-solid fa-pen tooltip-icon" onclick="editChannelName(this, {{ channel.id }})">
                                        <span class="tooltip-text">Edit Channel Name</span>
                                    </i>
                                    <i class="fa-solid fa-gear tooltip-icon" onclick="configureProgramming({{ channel.id }})"></i>
                                </div>
                                
                                <div class="channel-options" style="display: none;">
                                    <button onclick="interruptWithMicrophone({{ channel.id }})" class="interrupt-button">Interrupt with Microphone</button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>-->
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="content">
        <br>
        <br>
        <div class="zone-container">
            {% if areas|length < 1 %}
            <h3>Please add zones</h3>
            {% else %}
            {% for area in areas %}
            <div class="zone-box">
                <div class="zone-header">
                    <h3>{{ area.name }}</h3>
                    <i style=" border: none; border-radius: 4px; padding: 15px 26px; font-size: 20px; cursor: pointer; color: black;"
                        onclick="removeArea('{{ area.name }}')">
                        <i class="fa-solid fa-trash delete-zone" style="size: 4px;"></i>
                </i>
                    <form id="remove-area-form-{{ area.name }}" action="/remove_area" method="POST" style="display: none;">
                        <input type="hidden" name="name" value="{{ area.name }}">
                    </form>
                </div>
                <div class="zone-content">
                    <!-- Row Container to group Speakers and Channels side by side -->
                    <div class="row-container">
                        <!-- Speaker Section -->
                        <div class="column-section">
                            <h5>Speakers</h5>
                            <div class="column-list">
                                {% for node in nodes if node.area_id == area.id %}
                                <div class="column-item" data-column="{{ node.name }}" data-zone="{{ area.name }}">
                                    <span>{{ node.name }}</span>
                                    <button class="delete-column-button" onclick="removeZoneColumn(this.closest('.column-item'))">
                                        <i class="fa-solid fa-trash" style="color: black;"></i>
                                    </button>
                                </div>
                                {% endfor %}
                            <div class="add-column-button" onclick="showSelectForZone(this)">
                                <span>+ Speaker</span>
                            </div>
                            </div>
                            
                            
                        </div>
                        
                        <!-- Channel Section -->
                        <div class="channel-section">
                            <h4>Channels</h4>
                            <div class="channel-dropdown" onclick="toggleChannelDropdown(this)" style="cursor: pointer; border: 1px solid #ddd; border-radius: 8px; padding: 4px; background: #fff; display: flex; justify-content: space-between; align-items: center;">
                                <span id="selectedChannel-{{ area.name }}">
                                    {{ area.current_channel if area.current_channel else "Select Channel" }}
                                </span>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <div class="channel-options-dropdown" style="display: none; border: 1px solid #ddd; border-radius: 8px; margin-top: 4px; background: white; box-shadow: 0px 2px 5px rgba(0,0,0,0.1);">
                                {% for channel in channels %}
                                    <div class="channel-option" style="padding: 8px; border-bottom: 1px solid #ddd; cursor: pointer;" onclick="selectChannel('{{ channel.id }}', '{{ channel.name }}', '{{ area.name }}', this)">
                                        {{ channel.name }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    
                    <!-- Volume Section - Full Width at Bottom -->
                    <div class="volume-section">
                        <h4>Volume</h4>
                        <form action="/update_volume" method="POST" class="volume-form">
                            <input type="hidden" name="name" value="{{ area.name }}">
                            <input type="range" name="volume" min="0" max="100" value="{{ area.volume }}" class="volume-slider">
                            <p class="volume-label">Volume: {{ area.volume }}%</p>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            <div class="zone-box add-zone" id="addAreaButton" onclick="addArea()">
                <span>+</span>
            </div>
        </div>
    </div>
</div>

<!-- MIC-INTERRUPTIONS-->
<div class="container">
    <div class="microfones-container">
        <div class="interrupt-header">
            <h2>MIC INTERRUPTS</h2>
            <button class="add-btn" onclick="window.location.href='{{ url_for('add_interruption') }}'"><i class="fas fa-plus"></i></button>
        </div>

        <div class="interrupt-list">

            {% for interrupt in interruptions %}
                <div class="interrupt-item">
                    <div class="interrupt-info">
                        <strong>{{ interrupt.name }}</strong><br>
                        Areas: {% for area in interrupt.areas %}{{ area.name }}{% if not loop.last %}; {% endif %}{% endfor %}<br>
                        Channels: {% for channel in interrupt.channels %}{{ channel.name }}{% if not loop.last %}; {% endif %}{% endfor %}<br>
                        Microphone: {{ interrupt.microphone }}<br>
                    </div>
                    <div class="interrupt-actions">
                        {% if interrupt.state == "off" %}
                            <button class="icon-btn" onclick="startInterrupt('{{ interrupt.id }}')"><i class="fas fa-play"></i></button>
                        {% else %}
                            <button class="icon-btn" onclick="stopInterrupt('{{ interrupt.id }}')"><i class="fas fa-stop"></i></button>
                        {% endif %}
                        <button class="icon-btn" onclick="deleteInterrupt('{{ interrupt.id }}')"><i class="fas fa-trash"></i></button>
                    </div>
                </div>
            {% endfor %}


        </div>    
    </div>
</div>


<br>
<br>
<footer>
    <p style="text-align: center;">© 2025 Audio Manager</p>
</footer>
{% endblock %}



{% block scripts %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

