{% extends 'base.html' %}

{% block head %}
<title>Audio Manager</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
<nav class="navbar">
    <div class="nav-left">
        <a href="{{ url_for('dashboard') }}" class="settings-link">
            <i class="fa-solid fa-arrow-left icon-arrow-left"></i>
        </a>
    </div>
    <div class="nav-center">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Site Logo" class="site-logo">
        <span class="nav-title">Audio Manager</span>
    </div>
    <div class="nav-right">
        <a href="{{ url_for('logout') }}" class="logout-icon">
            <i class="fa-solid fa-right-from-bracket"></i>
        </a>
    </div>
</nav>


<div class="container">
    <div class="content">
        <div id="songs" class="local-box">

            <h3>Songs</h3>
            <div class="grid-container">
                <!-- Playlists Section -->
                <div class="playlists-section">
                    <h2>Playlists</h2>
                    <br>
                    <ul class="playlists-list" id="playlists-list">
                        {% for playlist in playlists %}
                        <li class="playlist-item2">
                            <span>{{ playlist.name }}</span>
                            <div class="playlist-actions">                                
                                <!--<i class="fa-solid fa-pen style="font-size: 16px; color: gray;" onclick="editPlaylist('{{ playlist.id }}')"></i> -->
                                <i class="fa-solid fa-pen" style="font-size: 16px; color: gray;" onclick="editPlaylist('{{ playlist.id }}')"></i>

                                <i class="fa-solid fa-trash style="font-size: 16px; color: gray;" onclick="deletePlaylist('{{ playlist.name }}')"></i>
                            </div>
                        </li>
                        {% endfor %}
                        <li class="playlist-item2 add-playlist" onclick="addPlaylist()">
                            <span>Add +</span>
                        </li>
                    </ul>
                </div>

                <!-- Songs Section -->
                <div class="songs-section">
                    <h2>Songs</h2>
                    <br>
                    <ul class="playlists-list" id="song-list">
                        {% for song in songs %}
                        <li class="playlist-item2">
                            <span>{{ song.name }}</span>
                            <div class="song-actions">
                                <i class="fa-solid fa-pen" onclick="editSong('{{ song.id }}')"></i>
                                <i class="fa-solid fa-trash" onclick="deleteSong('{{ song.name }}')"></i>
                            </div>
                        </li>
                        {% endfor %}
                        <li class="playlist-item2 add-playlist" onclick="showAddSongsModal()">
                            <span>Add +</span>
                        </li>
                    </ul>

                </div>
                
                <!-- Modal para adicionar/editar música -->
                <div id="song-modal" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeSongModal()">&times;</span>
                        <h2 id="modal-title">Add Song</h2>
                        <input type="text" id="song-name" placeholder="Nome da música">
                        <button onclick="saveSong()">Save</button>
                    </div>
                </div>


                
            </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="content">
        <div id="streams" class="stream-box">
            <h3>Streaming</h3>
            <div class="grid-container">
                <div class="streaming-section">
                    <ul id="streaming-list">
                        {% for streaming in streamings %}
                        <li class="streaming-item" id="streaming-item-{{ streaming.id }}">
                            <span id="stream-name-{{ streaming.id }}">{{ streaming.name }}</span>
                            <div class="streaming-actions">
                                <i class="fa-solid fa-pen" onclick="editStreaming('{{ streaming.id }}')"></i>
                                <i class="fa-solid fa-trash" onclick="deleteStreaming('{{ streaming.id }}')"></i>
                            </div>
                        </li>                        
                        {% endfor %}
                    </ul>
                    <div style="text-align: center;">
                        <button class="green-action-btn" onclick="showAddStreamChoiceModal()">Add Streaming</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="content">
        <div class="microfone-box">
            <h3 style="display: flex; align-items: center; gap: 8px;">
                Microfones
                <i id="microfone-status-icon" class="fa-solid fa-rotate-right" style="font-size: 18px; cursor: pointer;" onclick="fetchMicrophones()"></i>
            </h3>       
            <div class="microfone-section">
                <ul id="microphone-list">
                    {% for microfone in microfones %}
                    <li class="microfone-item">
                        <span>{{ microfone.name }}</span>
                        <div class="microfone-actions">
                            <i class="fa-solid fa-pen" onclick="editMicrofone('{{ microfone.id }}', '{{ microfone.name }}', '{{ microfone.short_cut }}')"></i>
                            <i class="fa-solid fa-trash" onclick="deleteMicrofone('{{ microfone.name }}')"></i>
                        </div>
                    </li>
                    {% endfor %}
                </ul>

                <div style="display: flex; justify-content: center; margin-top: 10px;">
                    <button id="sync-microphones-btn" class="green-action-btn" onclick="fetchMicrophones()">
                        Sync Microfones
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal para adicionar playlist 
<div id="playlistModal" class="modal">
    <div class="modal-content">
        <h2>Nome da nova playlist:</h2>
        <input type="text" id="playlist-name" placeholder="Digite o nome..." oninput="toggleConfirmButton()"/>
        <div class="modal-buttons">
            <button class="cancel" onclick="hidePlaylistModal()">Cancelar</button>
            <button id="confirm-btn" class="confirm" onclick="confirmPlaylist()" disabled>OK</button>
        </div>
    </div>
</div>

-->


<!-- Add Song Modal 
<div id="addSongModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeAddSongModal()">&times;</span>
        <h2>Adicionar Nova Música</h2>
        <form id="addSongForm">
            <div class="form-group">
                <label for="songName">Nome da Música:</label>
                <input type="text" id="songName" name="songName" required>
            </div>
            <div class="form-group">
                <label for="songFile">Ficheiro da Música:</label>
                <input type="file" id="songFile" name="songFile" accept="audio/*" required>
            </div>
            <div class="form-group">
                <button type="submit">Adicionar</button>
            </div>
        </form>
    </div>
</div>

-->

<!-- Modal Personalizado -->
<div id="customModal" class="custom-modal">
    <div class="custom-modal-content">
        <span class="close" onclick="closeCustomModal()">&times;</span>
        <p id="modal-message">Mensagem do Pop-up</p>
        <input type="text" id="modal-input" placeholder="Type here..." style="display: none;">
        <div class="modal-buttons">
            <button class="cancel" onclick="closeCustomModal()">Cancel</button>
            <button id="modal-confirm" class="confirm" onclick="confirmCustomModal()">OK</button>
        </div>
    </div>
</div>


<div id="errorModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeErrorModal()">&times;</span>
        <h2>Erro</h2>
        <p>Não existem músicas disponíveis. Por favor, adicione músicas.</p>
    </div>
</div>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}